.container {
	min-width: 740px;
	margin: 0 auto;
	margin-top: 20px;
}

.table-container {
	margin: 0 auto;
	background-image: var(--border-gradient);
	border-radius: 15px 15px;
	padding: 2px;
	background-size: 400% 400%;
	min-width: 813px;
	max-width: 1000px;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.macd-table {
	padding: 2px;
	min-width: 600px;
	width: 100%;
	color: var(--text);
	font-family: 'Nunito', sans-serif;	
	border-collapse: collapse;
}

.macd-table-header {
	background-color: var(--secondary-background);
	padding: 0px;
	border: none;
}

.macd-table-header th {
	padding: 5px 0px;
	font-size: 12px;
	white-space: nowrap;
	cursor: pointer;
}

.macd-table-header th:first-child { 
	border-radius: 15px 0px 0px 0px;
}

.macd-table-header th:last-child {
	border-radius: 0px 15px 0px 0px;	
}
