.stylethediv {
	padding: 80px 0px 20px 0px;
	text-align: left;
	white-space: nowrap;
	width: 100%;
	min-width: 740px;
}


.grid-heading{
	display: inline;
	color: white;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 20px;
	padding: 0px 20px;
}

.selector {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
  width: 100px;
  height: 34px;
  overflow: hidden;
  padding:5px 0px 5px 10px;
  background-color: #2b313a;
  border: none;
  border-radius: 2px;
  color: white;
  margin-right: 20px;
  float: right;

}

.selector-div {
	display: inline;
}

.selector:hover {
	color: #7a93ba;
}