.stylethediv {
	margin: 0 auto;
	padding: 80px 0px 20px 0px;
	text-align: left;
	white-space: nowrap;
	width: 100%;
	min-width: 740px;
	max-width: 1000px;
}


.grid-heading{
	display: inline;
	color: var(--text);
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 20px;
	padding: 0px 20px;
}

.selector {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
  width: 100px;
  height: 34px;
  overflow: hidden;
  padding:5px 0px 5px 10px;
  background-color: var(--secondary-background);
  border: none;
  border-radius: 2px;
  color: var(--text);
  margin-right: 20px;
  float: right;

}

.checkbox {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
  height: 30px;
  color: var(--text);
  float: right;
  padding-top: 8px;
  margin-right: 20px;
}

.selector-div {
	display: inline;
}

.selector:hover {
	color: #7a93ba;
}